{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
	<h1 class="titles">Find Food</h1>

	<form action="/page1">
		<input type="text" placeholder="Search.." name="search">
		<input type="submit" value = "Submit">
	</form>


	<form action="/page1">
    <select name="description" > <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
        {{ description_options }}
    </select>
	<input type="submit" value="Get macro info">
	</form>
	
	<p>{{ macroInfo }}</p>
	<p>{{ sugarInfo }}</p>
	<p>{{ fatInfo }}</p>

{% endblock %}
