{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Personal Info{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4 text-primary">Personal Info</h1>
      <form action="{{ url_for('renderPage2') }}" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="height" class="form-label">Height:</label>
          <div class="input-group">
            <input type="number" class="form-control" id="height" placeholder="Enter height in inches" name="height" aria-describedby="inputGroupPrepend" required>
            <span class="input-group-text" id="inputGroupPrepend">inches</span>
          </div>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field in inches.</div>
        </div>
        <div class="mb-3">
          <label for="weight" class="form-label">Weight:</label>
          <div class="input-group">
            <input type="number" class="form-control" id="weight" placeholder="Enter weight" name="weight" required>
            <span class="input-group-text" id="inputGroupPrepend">lbs</span>
          </div>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age:</label>
          <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <p id="goal_text">What is your goal?</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="weight_goal_gain" name="weight_goal" value="Gain">
            <label class="form-check-label" for="weight_goal_gain">Gain Weight</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="weight_goal_lose" name="weight_goal" value="Lose">
            <label class="form-check-label" for="weight_goal_lose">Lose Weight</label>
          </div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
          <label class="form-check-label" for="myCheck">This information is accurate.</label>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}